# Visual Studio files
.vs/
*.vscode/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.ide

# Build results
bin/
obj/

# NuGet packages
*.nuget.props
*.lock.json
*.paket.*
packages/
.project.assets.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Other
Thumbs.db
*.DS_Store

